body{
  font: 15px/1.5 Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #33cccc;
}

/* Global */
.container{
  width: 80%;
  margin: 0 auto;
  overflow: hidden;

}

/* Header */
header{
  background: #ffff99;
  color: #000000;
  padding-top: 30px;
  min-height: 70px;
}

header #branding{
  text-align: center;
}

#boxes{
  margin-top:20px;
}

#boxes .box{
  float:none;
  text-align: center;
  width:30%;
  padding:10px;
}
article#main-col{
  text-align: center;
  width:65%;
}

ul#HowCanWeHelpYou li{
  list-style:none;
  padding:20px;
  border:#cccccc;
  margin-bottom: 5px;
  background:#ffff99;
}


/* Footer */
footer{
  padding: 20px;
  margin-top: 20px;
  color: #000000;
  background-color: #ffff99;
  text-align: center;
}

footer a{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

footer li{
  display: inline;
  padding: 0 20px 0 20px;
}

footer li:hover{
  color: #cccccc;
  font-weight: bold;
}
