body{
  font: 15px/1.5 Helvetica, sans-serif;
  color: #473E3F;
  padding: 0;
  margin: 0;
  background-color: #218C8D;

}

/* Global */
.container{
  width: 80%;
  margin: 0 auto;
  overflow: hidden;

}

.button_1{
  height: 50px;
  background: #e0e0d1;
  border: 10px;
  padding: 10px 20px 10px 20px;
  color: #473E3F;
  font-size: 15px;
  font-weight: bold;
}

/* Header */
header{
  background: #F9E559;
  color: #473E3F;
  padding-top: 30px;
  min-height: 70px;
}

header h1{
  text-transform: uppercase;
}

header #branding{
  text-align: center;
}

#boxes{
  margin-top:20px;
}

#boxes .box{
  float:none;
  text-align: center;
  width:30%;
  padding:10px;
}
article#main-col{
  text-align: center;
  width:65%;
}

ul#HowCanWeHelpYou li{
  list-style:none;
  padding:20px;
  border:#cccccc;
  margin-bottom: 5px;
  background:#ffff99;
}

/* Options */
#options{
  padding: 15px;
  color: #473E3F;
}

/* centers buttons on page */
#options form{
  text-align: center;
  margin-top: 15px;
}

#options button:hover{
  color: #e0e0d1;
  background: #473E3F
}

/* Showcase */
#showcase{
  min-height: 400px;
  background:
}

#showcase h1{
  text-align: center;
  text-transform: uppercase;
}

/* Footer */
footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e6e6e6;
  text-align: center;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color: #e6e6e6;
  text-align: center;
}

footer a{
  color: #473E3F;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

footer li{

  display: inline;
  padding: 0 20px 0 20px;
}

footer li:hover{
  color: #cccccc;
  font-weight: bold;
}
